 /* * {
     box-sizing: border-box;
 } */

 body {
     background-color: #edeef6;
 }

 .reviewedit__modal-container {
     background-color: rgba(0, 0, 0, 0.3);
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100vw;
 }

 #hidden {
     display: none;
 }

 #review__edit-close {
     position: fixed;
     left: 424px;
     bottom: 345px;
 }

 #new__review-input {
     padding: 10px 20px;
     border-radius: 4px;
     background-color: #fff;
     width: 400px;
     height: 150px;
     max-width: 100%;
 }