 /* * {
     box-sizing: border-box;
 } */

 .reviewedit__modal-container {
     background-color: rgba(0, 0, 0, 0.3);
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100vw;
 }

 #hidden {
     display: none;
 }

 #review__edit-update {
     position: relative;
     right: 424px;
     top: 15px;
     color: rgba(0, 0, 0, 0.7);
     box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 0.2)
 }

 #review__edit-cancel {
     position: relative;
     right: 424px;
     top: 15px;
     margin-left: 5px;
     color: rgba(0, 0, 0, 0.7);
     box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 0.2)
 }

 #new__review-input {
     padding: 7px 11px;
     border-radius: 3px;
     background-color: #fff;
     width: 400px;
     height: 150px;
     max-width: 100%;
     box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 0.2)
 }