.product__types-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.product__type__text-container {
    margin: 0 auto;
    position: relative;
    /* left: 500px; */
    margin-bottom: 10px;
    font-size: 1.5em;
}

.product__types-links {
    margin: 15px;
}

.types__product__display-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 65px 10px auto;
    justify-content: center;
    /* align-items: center; */
}

.types__nav {
    display: flex;
    /* border: 1px solid red; */
    background-color: #232628;
    /* width: 500px; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace
}

@media screen and (max-width: 768px) {
    .types__product__display-container {
        display: flex;
        flex-direction: column;
        margin: 20px auto
    }
}