.product__details-container {
    display: inline-grid;
    grid-template-columns: 7fr 6fr;
    grid-template-rows: auto;
    grid-template-areas: "types types" "image details" "reviews form"
    /* flex-direction: column; */
    /* align-items: center; */
}

.types__nav {
    grid-area: types;
}

#idtypes__nav {
    margin-bottom: 70px;
}

.product__picture-container.product__picture {
    grid-area: image;
    display: flex;
    /* flex: 10 10 10; */
    margin-right: 10px;
    max-height: '700px';
    max-width: '700px';
    min-width: 20%;
    margin-left: '30px';
    /* object-fit: cover; */
    /* vertical-align: bottom; */
}

.details__card {
    grid-area: details;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    /* align-items: center; */
    /* width: 100%; */
    margin-left: 30px;
}

.product__reviews-container {
    grid-area: reviews;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
}

.details {
    /* max-width: 900px; */
}

#details__price1 {
    font-weight: bold;
    font-family: courier;
    color: rgba(102, 89, 89, 0.7);
    font-size: 13px;
    /* font-weight: bold; */
    align-self: center;
}

#details__price2 {
    font-family: courier;
    align-self: center;
    font-size: 13px;
    font-weight: bold;
    color: rgba(102, 89, 89, 0.7);
    /* align-self: flex-end; */
}

#details__totalprice {
    font-family: courier;
    font-weight: bold;
    font-size: 24px;
    align-self: center;
    color: rgba(83, 71, 71, 0.7);
    border-bottom: 2px solid rgba(45, 15, 15, 0.2);
}

.product__reviews-template {
    grid-area: form;
    margin-left: 30px;
}

.product__details__name-container {
    font-size: 2.5em;
    margin-bottom: 30px;
    border-bottom: 2px solid #333
}

.product__description-container {}

@media screen and (max-width: 1124px) {
    .product__details-container {
        /* display: inline-block; */
        /* margin-left: 30px; */
        display: inline-grid;
        grid-template-rows: auto;
        grid-template-areas: "image" "details" "form" "reviews";
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #idtypes__nav {
        display: none;
        flex-direction: column;
        position: relative;
        justify-content: space-around;
        bottom: 1600px;
        right: 200px;
        height: 700px;
        /* grid-area: types; */
    }
    .navigation__bar {
        /* display: flex */
    }
}