.product__details-container {
    display: inline-grid;
    grid-template-columns: 7fr 6fr;
    grid-template-rows: auto;
    grid-template-areas: "image details" "reviews form"
    /* flex-direction: column; */
    /* align-items: center; */
}

.product__picture-container.product__picture {
    grid-area: image;
    display: flex;
    /* flex: 10 10 10; */
    margin-right: 10px;
    max-height: '700px';
    max-width: '700px';
    min-width: 20%;
    margin-left: '30px';
    /* object-fit: cover; */
    /* vertical-align: bottom; */
}

.details__card {
    grid-area: details;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    /* align-items: center; */
    /* width: 100%; */
}

.product__reviews-container {
    grid-area: reviews;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.details {
    /* max-width: 900px; */
}

#details__price1 {
    font-weight: bold;
    font-family: courier;
    color: rgba(45, 15, 15, 0.7);
    font-size: 13px;
    /* font-weight: bold; */
    align-self: center;
}

#details__price2 {
    font-family: courier;
    align-self: center;
    font-size: 13px;
    font-weight: bold;
    color: rgba(45, 15, 15, 0.7);
    /* align-self: flex-end; */
}

#details__totalprice {
    font-family: courier;
    font-weight: bold;
    font-size: 24px;
    align-self: center;
    border-bottom: 2px solid rgba(45, 15, 15, 0.2);
}

.product__reviews-template {
    grid-area: form
}

.product__details__name-container {
    font-size: 2.5em;
    margin-bottom: 30px;
    border-bottom: 2px solid #333
}

.product__description-container {}

@media screen and (max-width: 1024px) {
    .product__details-container {
        /* display: inline-block;
        margin-left: 30px; */
        display: inline-grid;
        grid-template-rows: auto;
        grid-template-areas: "image" "details" "form" "reviews";
    }
}