.mini__cart-div {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: fixed;
    width: 74px;
    height: 100vh;
    background-color: #48484A;
    right: 0px;
    top: 0px;
    overflow-x: auto;
    /* border: 1px solid red; */
}

.cart__pics {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.cart__pic {
    width: 50px;
    margin-top: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    /* margin-bottom: 30px; */
}