.mini__cart-div {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: fixed;
    width: 74px;
    height: 100vh;
    background-color: #48484A;
    right: 0px;
    top: 0px;
    /* border: 1px solid red; */
}