.product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 10 1 1;
    height: 450px;
    width: 320px;
    overflow: hidden;
    margin: 10px;
    background-color: #1C1C1E;
    /* background-color: #79a3b1; */
    border-radius: 4px;
    /* box-shadow: 3px 2px 5px 4px #D96741; */
    /* 79a3b1 */
    /* 456268 */
}

.product__container:hover {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}

#product__name-container {
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    width: 320px;
}

.product__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C2C2E;
    min-height: 145px;
}

.prices__class {
    /* justify-self: end; */
}

#product__price-container {
    /* position: relative;
    right: 70px; */
    /* font-weight: bold; */
    font-size: 13px;
}

#product__labor-container {
    font-size: 13px;
    /* position: relative;
    left: 70px;
    bottom: 18px; */
}

#product__total-container {
    font-size: 13px;
    /* font-weight: bold; */
}

@media screen and (max-width: 848px) {
    .product__container {
        height: 420px;
        width: 320px;
        overflow: hidden;
        margin: 30px;
    }
}