#footer {
    /* background-color: rgb(223, 233, 248); */
    width: 100vw;
    display: flex;
    /* height: 10vh */
    /* border: 1px solid blue; */
    margin-top: 20px;
    font-size: 12px;
    /* position: absolute; */
    bottom: 10px;
    /* position: relative; */
    /* left: 1150px */
    justify-content: center;
}