/* TODO Add site wide styles */

body {
    height: 100%;
    width: 100%;
    background-color: #212121;
    /* background-color: #edeef6; */
    /* background-color: #fcf8ec; */
    /* d8e3e7 */
    /* #1b262c */
    font-family: Times, "Helvetica Neue",;
    color: white
}

button {
    background-color: #e0e7eb;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgb(201, 209, 221);
    transition: color .2s;
}

button:hover {
    color: #007BE6;
}

img:hover {
    border-radius: 0%;
}

.root {
    height: 100vh;
    width: 100vw;
}

a {
    transition: color .4s;
    /* transition: opacity .4s; */
    color: #265C83;
    /* opacity: 0.8; */
    text-decoration: none;
}

a:link, a:visited {
    color: #265C83;
}

a:hover {
    color: #7FDBFF;
    /* opacity: 0.9 */
}

a:active {
    transition: color .3s;
    color: #007BE6;
}