/* TODO Add site wide styles */

body {
    height: 100%;
    width: 100%;
    background-color: #fcf8ec;
    /* d8e3e7 */
    /* #1b262c */
    font-family: Times, "Helvetica Neue",
}

.root {
    height: 100vh;
    width: 100vw;
}

a {
    transition: color .4s;
    color: #265C83;
    text-decoration: none;
}

a:link, a:visited {
    color: #265C83;
}

a:hover {
    color: #7FDBFF;
}

a:active {
    transition: color .3s;
    color: #007BE6;
}