.login__form {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;
    top: 130px;
    max-width: 25%;
}

.input {
    width: 100%;
}

.button {
    width: 100%;
}