.nav__bar-parent {
    /* border: 1px red solid; */
}

.logo__span {
    /* overflow: hidden; */
    position: relative;
    cursor: pointer;
    /* right: px; */
    /* bottom: 60px; */
    /* align-self: flex-start; */
}

.logo__1 {
    /* max-width: 100px; */
    max-height: 168px;
    position: relative;
    bottom: 35px;
    left: 10px;
}

#currency__selector {
    position: relative;
    bottom: 63px;
    left: 13px;
    opacity: 0.6
    /* border: 1px solid red */
}

.currency__selectors {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(201, 209, 221, 0.1);
    transition: color .4s;
    /* opacity: 0.6; */
    /* transition: opacity .4s; */
}

.currency__selectors:hover {
    color: #D96741;
    /* opacity: 1 */
    /* border: 1px solid rgba(0, 0, 0, 0.2) */
}

.navigation__bar {
    /* display: flex; */
    margin-bottom: -58px;
    margin-top: 20px;
    justify-content: space-between;
    width: 100vw;
    /* border-bottom: 1px solid blue */
    /* flex-wrap: nowrap; */
}

.nav__links {
    /* margin-left: 10px; */
}

.nav__home-link {
    position: relative;
    right: 100px;
    bottom: 46px;
    font-size: 17px;
}

.nav__signup-link {
    position: relative;
    bottom: 64px;
    font-size: 17px;
}

.nav__login-link {
    position: relative;
    left: 50px;
    bottom: 90px;
    font-size: 17px;
}

#profile {
    position: absolute;
    /* left: 56px; */
    /* bottom: 95px; */
    right: 10px;
    top: 20px;
    /* margin-right: 55px; */
}

.mini__cart-open {
    position: fixed;
    right: 17px;
    top: 58px;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    right: 51px;
    bottom: 10px;
}