.nav__bar-parent {
    /* border: 1px red solid; */
}

.navigation__bar {
    display: flex;
    margin-bottom: 45px;
    margin-top: 20px;
    justify-content: center;
    width: 100vw;
    /* border-bottom: 1px solid blue */
    /* flex-wrap: nowrap; */
}

.nav__links {
    margin-left: 10px;
}

#profile {
    position: sticky;
    left: 1100px;
}

.profile-dropdown {
    position: relative;
    left: -65px;
}